---
extends: default

rules:
  # Требования ansible-lint к yamllint
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true

  # Ограничим длину строки более мягко, чтобы не ломать jinja-выражения
  line-length:
    max: 140
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true

  # YAML 1.1: ключи вроде 'on' считаются truthy — не ругаемся
  truthy: disable

  # Требуем '---' в начале, где уместно
  document-start:
    present: true
